.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #143484;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

.header-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}

.header .img-container {
  padding-left: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header .movie-search {
  display: flex;
  width: 80%;
  background: rgba(255, 255, 255, 0.23);
  padding: 8px 3px 8px 3px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.header .input-search {
  background: transparent;
  border: none;
  outline: 0px;
  padding: 0px 50px 0px 15px;
}

::placeholder {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

.movie-search form input:focus::placeholder { color:transparent; }

@media (min-width: 780px) {
  .header {
    flex-direction: row;
    padding-right: 25px;
    height: 60px;
  }
  .header-links {
    justify-content: space-between;
    width: 300px;
  }
  .header .movie-search {
    width: 50%;
    margin-bottom: 0;
  }
}