.login-form-container {
  padding: 20px;
  margin: 20px 10px;
  background-color: #FFF;
  border: 1px solid #00000045;
  margin-top: 60px;
}

@media (min-width: 780px) {
  .login-form-container {
    margin-top: 80px;
  }
}