.collection-title {
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  margin-top: 60px;
}

.collection-title {
  text-align: center;
}

@media (min-width: 780px) {
  .collection-title {
    margin-top: 80px;
  }
}